<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Library Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h1 style="text-align: center">Welcome to E-Library</h1>
<p style="text-align: center">Here, you can see all the books in the library. You can easily search for a book by using
    the filters.</p>
<br>
<table class="table" style="width: 50%; margin-left: auto; margin-right: auto; border: medium solid #6495ED;">
    <tr>
        <th>Title</th>
        <th>Released On</th>
        <th>Assigned to</th>
        <th>Assigned by</th>
    </tr>
    <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
</table>
</body>
</html>